* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
}

.login-container {
  display: flex;
  height: 100vh;
}

/* GAUCHE */
.login-left {
  flex: 1;
  background: linear-gradient(135deg, #000, #111);
  color: gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.login-left h1 {
  font-size: 28px;
}

.login-left h2 {
  font-size: 34px;
  color: magenta;
  margin: 10px 0;
}

/* DROITE */
.login-right {
  flex: 1;
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right form {
  background: #000;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
}

.login-right h3 {
  color: gold;
  margin-bottom: 20px;
  text-align: center;
}

.login-right input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
}

.login-right button {
  width: 100%;
  padding: 12px;
  background: magenta;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.forgot {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: gold;
  font-size: 14px;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }
}

.switch {
  margin-top: 15px;
  text-align: center;
  color: magenta;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.switch:hover {
  text-decoration: underline;
}
