@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Forcer le noir pur sur les champs de saisie */
input {
  background-color: #000000 !important;
}

/* Scrollbar invisible pour un look propre */
::-webkit-scrollbar { display: none; }