@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f2f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Cacher la barre de défilement mais garder le défilement */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Animations de transition */
.transition-all {
  transition: all 0.2s ease-in-out;
}