@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
}

input::placeholder {
  color: #52525b;
}

/* Animation pour l'entrée dans l'Empire */
.transition-all {
  transition: all 0.3s ease-in-out;
}