@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
}

input::placeholder {
  color: #444;
}

/* Scroll invisible pour un look pur */
::-webkit-scrollbar { display: none; }