@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

/* On enlève les styles par défaut des navigateurs pour garder le noir pur */
input {
  background-color: #000 !important;
}